This is a React Next.js project with a FastAPI Python backend.

Frontend:

- Use .js for JSX files
- Use 'next/navigation' for all navigation/routing
- Use frontend/src/lib/api.js for all API calls
- Prefer shadcn/ui for components
  - Use `npx shadcn@latest add ...` to add new components rather than manually creating them

Backend:

- Use pydantic for all data models
- Use backend/db/models.py for all database models
- Use backend/routers/schemas.py for all routes input/output pydantic models
- Use backend/routers/{table}.py for all routes for that table/model
